# MATH 210 Introduction to Mathematical Computing

**January 15, 2024**

* Variables
* Sequence Types
* Builtin Functions for Sequences

## Variables

The familiar variables $x$ and $y$ in mathematics allow us to write and modify expressions. In programming, we assign a value to a variable using the `=` operator and then we can write expressions with the variable name.

In [2]:
x = 42

Use the function `print` to see the value assigned to a variable.

In [3]:
print(x)

42

For example, let's compute the norm of a vector $(x,y)$:

$$
\| (x,y) \| = \sqrt{x^2 + y^2}
$$

In [4]:
x = -3
y = 4
norm = (x**2 + y**2)**(1/2)
print(norm)

5.0

Write a script to compute the roots of $ax^2 + bx + c$.

In [5]:
a = 2
b = -3
c = -5
D = b**2 - 4*a*c # The discriminant of the quadratic formula
x1 = (-b + D**0.5)/2/a
x2 = (-b - D**0.5)/2/a
print(x1)
print(x2)

2.5
-1.0

Note that we use `#` to write comments in our code. A comment is text that Python ignores.

Note that when we assign a value to a variable we enter the variable on the left side.

In [6]:
2 = a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (245212987.py, line 1)

## Variable Names and Reserved Words

A variable name can be any combination of letters, numbers and underscores `_`. But the name must begin with a letter or underscore.

In [10]:
x = 1

In [12]:
x

1

In [13]:
1varname = 1

SyntaxError: invalid decimal literal (873496648.py, line 1)

It is good practice to use simple variable names such as `x`, `y`, `z`, `alpha`, `beta`, `gamma` or words with underscores like `distance_km`.

There are some words that have special meaning in Python. We should avoid these words. See [reserved words](https://patrickwalls.github.io/mathematicalpython/python/variables/#reserved-words).

## Sequence Types

There are 3 main sequence types: `list`, `tuple` and `range`.

Use square brackets `[ ... ]` to make a list. Separate values in the list by commas. Don't use `list` or `tuple` or `range` as a variable name!

In [14]:
primes = [2,3,5,7,11,13,17,19]

In [15]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [16]:
type(primes)

list

Use parentheses `( ... )` to make a tuple.

In [17]:
date = (2024,1,15)

Access entries in a list or tuple using index syntax. Note that Python sequences all start at index 0.

In [18]:
primes[7]

19

In [19]:
date[1]

1

The main difference between lists and tuples is that we can change the entries in a list but not in a tuple.

In [20]:
primes[0] = -1
primes

[-1, 3, 5, 7, 11, 13, 17, 19]

In [21]:
date[0] = 1989
date

TypeError: 'tuple' object does not support item assignment

A range object represents a sequence of integers. The syntax is `range(a,b,step)`.

In [22]:
xvalues = range(0,10)

In [23]:
print(xvalues)

range(0, 10)

A `range` object does not store values. It only returns a value in the range when you ask for it. That makes it efficient for loops.

In [24]:
for x in xvalues:
    print(x)

0
1
2
3
4
5
6
7
8
9

Use the function `list` to convert a `range` object to a list.

In [25]:
xrange = range(0,100,4)
print(xrange)

range(0, 100, 4)

In [26]:
xlist = list(xrange)
print(xlist)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]

We use `range` objects to create list of indices in a loop for iteration.

## Builtin Functions for Sequences

The function `sum` adds all the entries in a sequence.

In [27]:
N = 100
numbers = range(1,N+1)
s = sum(numbers)
print(s)

5050

In [28]:
N*(N+1)/2

5050.0

In [29]:
list(range(1,5))

[1, 2, 3, 4]

The length of `range(a,b)` is `b-a`.

In [30]:
max(numbers)

100

In [31]:
min(numbers)

1

In [32]:
len(numbers)

100