# MATH 210 Introduction to Mathematical Computing

**January 22, 2024**

* Examples
* Lambda functions
* Polynomials

## Examples

Write a function called `norm` which takes input parameter `x` (list of numbers representing a vector) and returns the norm of the vector `x`.

$$
\| \mathbf{x} \| = \sqrt{ \sum_{k=0}^{N-1} x_k^2 }
$$

where $\mathbf{x} = (x_0,\dots,x_{N-1})$.

In [1]:
def norm(x):
    terms = [xk**2 for xk in x]
    #terms = [x[k]**2 for k in range(len(x))]
    value = sum(terms)**0.5
    return value

In [2]:
norm([1,2]) # Function should return 5**0.5 = 2.23606797749979

2.23606797749979

In [3]:
norm([3,4]) # Function should return 5.0

5.0

In [4]:
norm([1,-1,1,-1]) # Function should return 2.0

2.0

## Lambda Functions

Some functons are short and simple. The `lambda` keyword allows us to write a function in a single line. And also it allows us to define "anonymous" functions within other expressions but we won't worry about that for now.

The syntax is:

```python
fun = lambda a,b,c: a**2 + b**2 + c**2
```

where:

* `fun` is the function name
* `lambda` is the keyword that starts the definition
* list the input parameters separated by commas `,`
* colon ends the parameter list and starts the expression for the function

In [5]:
average = lambda x: sum(x)/len(x)

In [6]:
average([-3,2,7,5,10])

4.2

In [8]:
(-3 + 2 + 7 + 5 + 10)/5

4.2

## Taylor Series

Write a function called `arctan_taylor` which takes input parameters `x` and `N` and returns the Taylor polynomial of degree `N` of `arctan` evaluated at `x`.

$$
\sum_{k=0}^{N} (-1)^k \frac{x^{2k+1}}{2k+1}
$$

In [15]:
def arctan_taylor(x,N):
    terms = [(-1)**k*x**(2*k + 1)/(2*k + 1) for k in range(N+1)]
    value = sum(terms)
    return value

In [16]:
print(arctan_taylor(1,2)) # Function should 1 - 1/3 + 1/5
print(1 - 1/3 + 1/5)

0.8666666666666667
0.8666666666666667

In [17]:
print(arctan_taylor(-1/2,2)) # Function should (-1/2) - (-1/2)/3 + (-1/2)/5
print((-1/2) - (-1/2)**3/3 + (-1/2)**5/5)

-0.4645833333333333
-0.4645833333333333

In [18]:
print(arctan_taylor(1/3**0.5,1000)) # x = 1/sqrt(3) the function should return a value close to pi/6
print(3.1415926535/6)

0.5235987755982989
0.5235987755833333

## Polynomials

A polynomial of degree (at most) $d$ is of the form

$$
p(x) = c_0 + c_1 x + \cdots + c_d x^d
$$

Represent a polynomial of degree (at most) $d$ as a list of coefficients `[c0,c1,...,cd]`.

Write a function called `poly_eval` which takes input parameters `p` (list of numbers representing a polynomial $p(x)$ as above) and `a`, and returns the value $p(a)$.

In [19]:
def poly_eval(p,a):
    # p(a) = c0 + c1*a + c2*a**2 + ... + cd*a**d
    # p(a) = sum([ck*a**k for ck in p])
    # p(a) = sum([c[k]*a**k for k in range()])
    return 0.0

In [20]:
poly_eval([1,0,1],-2) # Function should return 1*(-2)**0 + 0*(-2)**1 + (-2)**2 = 5

0.0

In [21]:
poly_eval([0,2,0,1],4) # Function should return 2(4) + (4)**3 = 72

0.0

In [22]:
poly_eval([1,-1,1,-1,1,-1],2) # Function should return 1 - 2 + 2**2 - 2**3 + 2**4 - 2**5 = -21

0.0