# MATH 210 Introduction to Mathematical Computing

**January 17, 2024**

* Indexing
* List comprehensions
* Examples

## Indexing and Slicing

We access entries in a sequence by indexing syntax `listname[i]`.

In [1]:
squares = [0,1,4,9,16,25,36,49,64,81]

In [2]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
type(squares)

list

In [4]:
squares[0]

0

In [5]:
squares[3]

9

Use negative indices to count from the end of the sequence.

In [6]:
squares[-1]

81

We can select a subsequence by using the slicing syntax `listname[a:b]`. This selects entries from index `a` to (not including) `b`.

In [7]:
squares[1:4]

[1, 4, 9]

In [8]:
squares[:3]

[0, 1, 4]

In [9]:
squares[4:]

[16, 25, 36, 49, 64, 81]

## List comprehensions

Creating a list by typing the entries manually is not efficient. There is a beautiful construction in Python called a list comprehension. The basic structure is:

```
listname = [ expression for item in sequence ]
```

where:

* `listname` is the variable name assigned to the list constructed
* `expression` is any Python expression involving the variable `item`
* `item` is a variable which takes each value in sequence
* `sequence` is any list, tuple, range, ...

In [10]:
squares = [n**2 for n in [0,1,2,3,4,5,6,7,8,9]]

In [11]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = [n**2 for n in range(0,10)]

In [13]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

How would we create the list `[0.0,0.1,0.2,0.3,...,1.0]`?

In [14]:
xvalues = [n/10 for n in range(0,11)]
print(xvalues)

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [15]:
range(0,1.1,0.1)

TypeError: 'float' object cannot be interpreted as an integer

In [16]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

## Examples

### Geometric Series

Compute values of the geometric series

$$
\sum_{k=0}^N x^k
$$

and compare to the exact value $\frac{1 - x^{N+1}}{1-x}$, $x\ne 1$. Note that the series converges to $\frac{1}{1-x}$ as $N \to \infty$ when $|x| < 1$.

In [17]:
x = -2
N = 5
terms = [x**k for k in range(0,N+1)]
print(terms)
series = sum(terms)
print(series)
formula = (1 - x**(N+1))/(1 - x)
print(formula)

[1, -2, 4, -8, 16, -32]
-21
-21.0

In [20]:
x = 0.5
N = 100
terms = [x**k for k in range(0,N+1)]
series = sum(terms)
print(series)
formula = (1 - x**(N+1))/(1 - x)
print(formula)

2.0
2.0

### Taylor Series

The Taylor series for $\log(1 + x)$ is

$$
\log(1 + x) = \sum_{n=1}^\infty \frac{(-1)^{n+1} x^n}{n} \ , \ \ |x| < 1
$$

Recall, $\log$ is the natural logarithm. Approximate $\log(1/2)$ using partial sum up to $N=1000$.

In [21]:
x = -1/2
N = 1000
terms = [(-1)**(n+1)*x**n/n for n in range(1,N+1)]
series = sum(terms)
print(series)

-0.6931471805599451

### Riemann Zeta Function

The Riemann zeta function is

$$
\zeta(s) = \sum_{n=1}^{\infty} \frac{1}{n^s}
$$

Approximate $\zeta(2)$. The exact value is $\pi^2/6$. How big does $N$ need to be for the partial sum to match the exact value up to 5 decimal places?

In [50]:
N = 10000
s = 2
terms = [1/n**s for n in range(1,N+1)]
series = sum(terms)
print(series)

1.6448340718480652

In [51]:
pi = 3.1415926535
pi**2/6

1.6449340667541952

In [52]:
pi**2/6 - series

9.999490612999651e-05

In [53]:
series

1.6448340718480652